#header {
  background-color: black;
  height:460px;



}
#if {
  height:800px;
  margin-left:-100px;


}

#quote {
  color: white;
  margin-left: 600px;
}

h1 {
  color:red;
  font-weight: 100;

}
hr {margin-top: -28px;
}

#adobe {
  float:right;
  margin-left:600px;
  margin-top:-30px;
  height: 50px;
  width: 200px;

}

h2 {margin-left: 300px;
  margin-top: -23px;
  color: grey;
  s
}
